{% extends "base.html" %}
{% block title %}Профайл{% endblock %}
{% block header %}Профайл | Yatube{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
      {% include 'includes/info_user.html' %}

       </div>
  
       <div class="col-md-9">
       <!-- Начало блока с отдельным постом -->

          <!-- Остальные посты -->
          {% for post in page %}
          {% include 'includes/separate_post.html' %}

          {% if not forloop.last %}<hr>{% endif %}
          {% endfor %}
          {% include "includes/paginator.html" %}
       <!-- Здесь постраничная навигация паджинатора -->
       </div>
    </div>
  </main>


{% endblock %}